.displayEquals{
    width: 100%;
    background: #958a8a;
    height: 10%;
    border: 0.25px solid gray;
}

.displayEquals p{
    font-size: 42px;
    position: absolute;
    right: 1.25%;
    top: 12%;
    font-weight: bold;
    color: white;
}